<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
  <i class="fa fa-bars"></i>
  <span class="sr-only">Toggle Menu</span>
</button>
</div>
  <h1><a href="index.html" class="logo btn" style="text-align: left;"><span class="fa fa-paper-plane  mr-3"></span>Hi <%=data.name%></a>/</h1>
<ul class="list-unstyled components mb-5">
<li class="active">
<a href="#" class="btn" style="text-align: left;"><span class="fa fa-home mr-3" style="text-align: left;"></span> Homepage</a>
</li>
<li>
  <a href="/admin/dashboard" class="btn" style="text-align: left;"><span class="fa fa-user mr-3"></span> Dashboard</a>
</li>
<li>
    <a href="/admin/campgallery" class="btn" style="text-align: left;"><span class="fa fa-sticky-note mr-3"></span> Camp Gallery</a>
  </li>
<li>
<a href="/admin/doctors" class="btn" style="text-align: left;"><span class="fa fa-sticky-note mr-3"c></span> Doctors</a>
</li>
<li>
  <a href="/admin/contact" class="btn" style="text-align: left;"><span class="fa fa-sticky-note mr-3"c></span> Contacts</a>
  </li>
  <li>
    <a href="/admin/about" class="btn" style="text-align: left;"><span class="fa fa-sticky-note mr-3"c></span> About</a>
    </li>
<li>
<a href="#" class="btn" style="text-align: left;"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
</li>
<li>
<a href="#" class="btn" style="text-align: left;"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
</li>
<li>
<a href="#" class="btn " style="text-align: left;"><span class="fa fa-paper-plane mr-3"></span> Information</a>
</li>
<li>
<a href="/admin/logout" class="btn btn-danger"style="text-align: left;" ><span class="fa fa-power-off mr-3"></span> Logout</a>
</li>
</ul>

</nav>